# Exploration des données

In [2]:
import pandas as pd
import numpy as np

from DataProcessing import RecsData

In [11]:
reviews = pd.read_csv('../data/30p_reviews.csv')
reviews = reviews.drop('Unnamed: 0', axis=1)
offering = pd.read_csv('../data/offers.csv')
offering = offering.drop('Unnamed: 0', axis=1)

## Analyser les données

In [12]:
offering.head()

,hotel_class,region_id,url,phone,details,type,id,name,address.region,address.street-address,address.postal-code,address.locality
0,3.0,60750,http://www.tripadvisor.com/Hotel_Review-g60750...,NaN,NaN,hotel,112280,Surfer Beach Hotel,CA,711 Pacific Beach Drive,92109,San Diego
1,1.5,33388,http://www.tripadvisor.com/Hotel_Review-g33388...,NaN,NaN,hotel,671614,Knights Inn Denver - Gateway to Downtown,CO,2601 Zuni B St,80211,Denver
2,4.0,32655,http://www.tripadvisor.com/Hotel_Review-g32655...,NaN,NaN,hotel,77827,Luxe Sunset Boulevard Hotel,CA,11461 Sunset Boulevard,90049,Los Angeles
3,3.5,33388,http://www.tripadvisor.com/Hotel_Review-g33388...,NaN,NaN,hotel,83031,Crowne Plaza Denver International Airport,CO,15500 East 40th Avenue,80239,Denver
4,3.0,55857,http://www.tripadvisor.com/Hotel_Review-g55857...,NaN,NaN,hotel,109093,Residence Inn Fort Worth University Drive/Rive...,TX,1701 South University Drive,76107,Fort Worth

In [13]:
reviews.head()

,title,text,date_stayed,offering_id,num_helpful_votes,date,id,via_mobile,ratings.service,ratings.cleanliness,...,ratings.rooms,author.username,author.num_cities,author.num_helpful_votes,author.num_reviews,author.num_type_reviews,author.id,author.location,ratings.check_in_front_desk,ratings.business_service_(e_g_internet_access)
0,“Thank you”,Stayed with my wife for my birthday. What made...,November 2011,1888977,1,"November 14, 2011",120595793,False,5.0,5.0,...,5.0,DonnyQ,17.0,50.0,20.0,16.0,F216A69331DEDB926C80942FDD5EB24C,"Princeton Junction, New Jersey",NaN,NaN
1,“Remembered our name.”,"My first time in Texas and the term ""southern ...",August 2012,73445,2,"August 8, 2012",136605340,True,5.0,5.0,...,5.0,Milesmama,NaN,2.0,1.0,NaN,77D80296B99FD6C22772797C1041B23A,NaN,NaN,NaN
2,“Highly Recommended.”,I visit California once an month and I persona...,July 2012,77157,1,"July 30, 2012",135748219,False,4.0,4.0,...,4.0,Ramon F,NaN,1.0,1.0,NaN,A416AC0B1216EBA6491DE638E2C232F5,Torrance,NaN,NaN
3,"“Days Inn, 4400 Connecticut Avenue, Washington...",The hotel was very clean and the staff was ver...,October 2012,84051,1,"October 26, 2012",143793039,False,5.0,5.0,...,3.0,Louise A,NaN,1.0,1.0,NaN,FAC1CBB2E0351B4B40FFD0185A5551C7,CUMMING,NaN,NaN
4,“Valet And Elevator Nightmare”,20 min wait for elevators and when it arrived ...,July 2012,625299,0,"July 16, 2012",134488479,True,4.0,3.0,...,2.0,jazzyphat,NaN,NaN,1.0,NaN,8716DB50833A00F9926246297D38D955,NaN,NaN,NaN

In [71]:
print('Nombre d\'hôtel total {} vs {} le nombre d\'hôtel reel.'.format(offering.shape[0], offering['id'].unique().shape[0]))
print('Nombre de reviews total {} vs {} nombre de reviews sans duplicant.'.format(reviews.shape[0], reviews['id'].unique().shape[0]))
print('Le nombre de street-address où se trouvent les hôtels : ', offering['address.street-address'].unique().shape[0])
print('Le nombre de région sur laquelle les hôtels se trouvent : ', offering['address.locality'].unique().shape[0])
offering['address.locality'].unique()

Nombre d'hôtel total 4333 vs 2690 le nombre d'hôtel reel.
Nombre de reviews total 263568 vs 227636 nombre de reviews sans duplicant.
Le nombre de street-address où se trouvent les hôtels :  2686
Le nombre de région sur laquelle les hôtels se trouvent :  25

array(['San Diego', 'Denver', 'Los Angeles', 'Fort Worth', 'Houston',
       'Phoenix', 'San Francisco', 'Boston', 'New York City', 'Austin',
       'Columbus', 'Dallas', 'San Antonio', 'Indianapolis', 'Chicago',
       'Seattle', 'Memphis', 'Charlotte', 'Jacksonville', 'El Paso',
       'Washington DC', 'Baltimore', 'Philadelphia', 'San Jose',
       'Detroit'], dtype=object)

In [129]:
print('Le nombre total d\'utilisateurs ayant noté au moins un hôtel : ', reviews['author.username'][reviews['author.username'].isnull()==False].unique().shape[0])
print('Le nombre d\'utilsateurs anonyme qui ont effectué au moins un rating : ', np.sum(reviews['author.username'].isnull()))
print(reviews['author.username'].value_counts())

Le nombre total d'utilisateurs ayant noté au moins un hotel :  175370
Le nombre d'utilsateurs anonyme qui ont effectué un rating :  23251
David B           41
Michael S         36
John S            30
John C            29
brmusicman        28
                  ..
Coconut_Joe_88     1
Carina M           1
jftaber            1
JamesinFL          1
Loz003             1
Name: author.username, Length: 175370, dtype: int64

In [132]:
reviews.filter(regex='ratings').describe()

,ratings.service,ratings.cleanliness,ratings.overall,ratings.value,ratings.location,ratings.sleep_quality,ratings.rooms,ratings.check_in_front_desk,ratings.business_service_(e_g_internet_access)
count,228193.000000,227747.000000,263568.000000,226071.000000,199427.000000,150173.000000,211706.000000,29822.000000,19635.000000
mean,4.070458,4.209478,3.938213,3.896033,4.417807,4.118090,3.922766,3.923681,3.635039
std,1.177432,1.075954,1.164670,1.178448,0.886817,1.109222,1.148500,1.223057,1.248258
min,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,4.000000,4.000000,3.000000,3.000000,4.000000,4.000000,3.000000,3.000000,3.000000
50%,4.000000,5.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,4.000000
75%,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [140]:
print('Le nombre de rating manquant pour chaque catégorie.')
np.sum(reviews.filter(regex='ratings').isnull())

Le nombre de rating manquant pour chaque catégorie.

ratings.service                                    35375
ratings.cleanliness                                35821
ratings.overall                                        0
ratings.value                                      37497
ratings.location                                   64141
ratings.sleep_quality                             113395
ratings.rooms                                      51862
ratings.check_in_front_desk                       233746
ratings.business_service_(e_g_internet_access)    243933
dtype: int64