In [15]:
import pandas as pd
import json
import numpy as np
from tqdm import tqdm

import data_process as d

from DataProcessing import RecsData as recs

# Traitements des données
Les données sont des fichiers textes sous la forme **JSON**. Il existe deux fichiers distinct : **offering** et **reviews**.

## Présentation de Offering
Offering contient tous les hôtels valables à notre disposition.

In [16]:
df_offering = pd.read_csv('../data/optimiser/offering.csv')
df_offering.drop('Unnamed: 0', axis=1, inplace=True)
df_offering.head()

,hotel_class,region_id,url,phone,details,type,id,name,address.region,address.street-address,address.postal-code,address.locality
0,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,NaN,NaN,hotel,113317,Casablanca Hotel Times Square,NY,147 West 43rd Street,10036,New York City
1,5.0,32655,http://www.tripadvisor.com/Hotel_Review-g32655...,NaN,NaN,hotel,76049,Four Seasons Hotel Los Angeles at Beverly Hills,CA,300 S Doheny Dr,90048,Los Angeles
2,3.5,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,NaN,NaN,hotel,99352,Hilton Garden Inn Times Square,NY,790 Eighth Avenue,10019,New York City
3,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,NaN,NaN,hotel,93589,The Michelangelo Hotel,NY,152 West 51st Street,10019,New York City
4,4.0,60763,http://www.tripadvisor.com/Hotel_Review-g60763...,NaN,NaN,hotel,217616,The Muse Hotel New York,NY,130 West 46th Street,10036,New York City

## Présentation de reviews
Reviews contient les appréciations des clients dans différents hôtels.

In [17]:
reviews = pd.read_csv('../data/optimiser/full_reviews.csv')
reviews.drop('Unnamed: 0', axis=1, inplace=True)
reviews.head()

,title,text,offering_id,num_helpful_votes,date,id,via_mobile,ratings.overall,author.username,author.id,...,ratings.value,ratings.location,ratings.sleep_quality,ratings.rooms,author.num_cities,author.num_helpful_votes,author.num_reviews,author.num_type_reviews,ratings.check_in_front_desk,ratings.business_service_(e_g_internet_access)
0,"“Truly is ""Jewel of the Upper Wets Side""”",Stayed in a king suite for 11 nights and yes i...,93338,0,"December 17, 2012",147643103,False,5.0,Papa_Panda,8C0B42FF3C0FA366A21CFD785302A032,...,5.0,5.0,5.0,5.0,22.0,12.0,29.0,24.0,NaN,NaN
1,“My home away from home!”,"On every visit to NYC, the Hotel Beacon is the...",93338,0,"December 17, 2012",147639004,False,5.0,Maureen V,E3C85CA9DBBBC77E0DB534ABE93E4713,...,5.0,5.0,5.0,5.0,2.0,NaN,2.0,NaN,NaN,NaN
2,“Great Stay”,This is a great property in Midtown. We two di...,1762573,0,"December 18, 2012",147697954,False,4.0,vuguru,FB1032DECE1162CB3556D05F278AAFFD,...,4.0,5.0,4.0,4.0,12.0,17.0,14.0,14.0,NaN,NaN
3,“Modern Convenience”,The Andaz is a nice hotel in a central locatio...,1762573,0,"December 17, 2012",147625723,False,4.0,Hotel-Designer,EC3E275EE7590694889C8C7EE0D13961,...,5.0,5.0,5.0,5.0,5.0,26.0,5.0,5.0,NaN,NaN
4,“Its the best of the Andaz Brand in the US....”,I have stayed at each of the US Andaz properti...,1762573,0,"December 17, 2012",147612823,False,4.0,JamesE339,BA524A238B1171206691A6CC3F28F266,...,3.0,5.0,5.0,5.0,34.0,65.0,104.0,49.0,NaN,NaN